body {
  font-family: $serif;
  color: $primary;
  @include background-gradient;
  @include selection-color;

  strong { font-weight: bold;  }
  em     { font-style: italic; }

  a {
    color: $link;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    background-color: $link;
  }

  h1 {
    font-family: $serif;
    font-size: $large_font;
    font-weight: 700;
    margin-top: 40px;
  }

  h2 {
    font-family: $condensed;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
  }

  p {
    line-height: 175%;
    margin-bottom: 10px;
  }

  .header {
    margin-top: 20px;

    .nav {
      a {
        color: $primary;
      }

      a:hover {
        color: #fff;
        background-color: $primary;
      }
    }

    p {
      font-family: $serif;
      font-size: 36px;
      margin-bottom: 5px;
      line-height: 100%;

      strong {
        font-style: italic;
      }
    }

    ul {
      font-size: $small_font;

      li {
        display: inline-block;
        font-family: $sans-serif;
        text-transform: uppercase;
        margin-left: 24px;

        &:before {
          content: " // ";
        }

        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }

  .post {
    .date {
      text-transform: uppercase;
      font-size: .7em;
      font-family: $sans-serif;
    }
  }

  .footer {
    margin-top: 72px;
    margin-bottom: 48px;
    border-top: 1px solid $primary;
    padding-top: 16px;
  }
}
