/* Basic structral styles for the grid system
 * Based on Twitter Bootstrap
 * http://twitter.github.com/bootstrap/
 * ------------------------------------------ */

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}

/* Columns
 * ------------------------------------------ */
.span1  { width: 40px;   }
.span2  { width: 100px;  }
.span3  { width: 160px;  }
.span4  { width: 220px;  }
.span5  { width: 280px;  }
.span6  { width: 340px;  }
.span7  { width: 400px;  }
.span8  { width: 460px;  }
.span9  { width: 520px;  }
.span10 { width: 580px;  }
.span11 { width: 640px;  }
.span12 { width: 700px;  }
.span13 { width: 760px;  }
.span14 { width: 820px;  }
.span15 { width: 880px;  }
.span16 { width: 940px;  }
.span17 { width: 1000px; }
.span18 { width: 1060px; }
.span19 { width: 1120px; }
.span20 { width: 1180px; }
.span21 { width: 1240px; }
.span22 { width: 1300px; }
.span23 { width: 1360px; }
.span24 { width: 1420px; }
