<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="http://use.typekit.com/ffc2ezr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div class="container">
      {{ content }}
      <div class="links">
        <ul>
          <li><a href="http://twitter.com/amateurhuman">Twitter</a></li>
          <li><a href="mailto:me@amateurhuman.com">Email</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
